<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas Shopping List</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Gifts</h1>
    <ul>
        <% gifts.forEach( el => { %>
            <li class = 'giftItem' data-id = '<%=el._id%>'>
                <span class = '<%= el.completed === true ? 'completed' : 'not'%>'><%= el.gift %></span>
                <span class = 'del'> Delete </span>
            </li>
        <% }) %>
    </ul>

    <h2>Gifts left to buy: <%= left %></h2>

    <form action="/xmas/createGift" method='POST'>
        <input type="text" placeholder="Enter Gift Item" name='giftItem'>
        <input type="submit">
    </form>

    <script src="js/main.js"></script>
</body>
</html>